*{
    margin:0px;
    padding:0px;
}
body{
background-color:rgb(30,30,40);


}

body h1{
    padding:20px;
    padding-left:40px;
    justify-items:center;
    margin-left:500px;
    font-family:Poppins;
    color:brown;
    transition:.3s;
}
h1:hover{
    font-size:40px;
    color:black;
    transition:.4s
}
 

  nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left:10%;
    padding-right:10%;
    margin-right: 20px;
    font-family: Poppins;
}

.logo{
    color:orangered;
    font-size:25px;
}

nav ul li{
     list-style-type:none;
     display:inline-block;
     padding:10px 20px;
}

nav ul li a{
    color:orangered;
    text-decoration: none;
    font-weight:bold;
    transition:.3s;
}
nav ul li a:hover{
    color:orangered;
    transition: .3s;
   font-size:15px;
}
.image1{
    display:block;
   margin-left:auto;
   margin-right:auto;
   width: 50%;
}

.h2 {
    max-width: 600px;
    margin-top:30px;
    margin-left: 20px;
    margin-bottom: 30px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    font-family: poppins;
}

.button{
    color:white;
    background-color:orangered;
    padding:10px;
    border: 2px solid black;
    border-radius: 5px;
    transition:.3s;
}
.button:hover{
    padding:13px;
}

#result{
    color:white;
    margin-left:20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
}

input {
    width: 50%;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
table{
    width:90%;
    border-collapse: collapse;
    color:white;
    margin-top:3%;
    margin-left:auto;
    margin-right:auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tail1 thead tr {
    background-color: #009879;
    color:white;
    text-align: left;
}

.tail1 th,
.tail1 td {
    padding: 12px 15px;
}

.tail1 tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tail1 tbody tr:nth-of-type(even) {
    background-color: #0d57a5;
}

.tail1 tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tail1 tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.lastcol{
    display:none;
}


